# Node
node_modules
npm-debug.log
yarn-error.log
package-lock.json

# Playwright
test-results/
playwright-report/
blob-report/
.playwright/
.env
test-env.test.ts
utils/data/
screenshots/

# Allure-report
allure-report*/
allure-results*/

# Excel report
excel-report/

# Runable file
run-multi-parallel.ps1
run-multi.ps1